/* CSS files add styling rules to your content */

body { 
  /*center all the elements */
  
  
  /* add a background image of space */
  
     
}

h1 {
  
  /* make this color white with a hot pink background
  and bold text */
  
  
   
}

/* Add additional rules:

1. The h2 should have a different background color and margins
2. The image should be small: 200px width , 100px height
3. Give the image a border of your choice
4. Style the paragraph tag with at least 5 rules!
5. Update the colors using inline styles (inside the index.html file)


-------------------------------*/
